.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.center-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}