<section class="canvas-wrapper">
    <div #canvas_wrap_ref class="paper">
        <ko-stage #stageRef class="canvas" [config]="configStage" (click)="Deselect($event)"
            (mousedown)="handleStageMouseDown()" (mousemove)="handleStageMouseMove()"
            (mouseup)="handleStageMouseUp()">
            <ko-layer class="canvas">

                <ko-line [config]="lineShape" ></ko-line>
                <ko-rect [config]="squareShape"></ko-rect>
                <ko-rect [config]="rectangleShape"></ko-rect>
                <ko-circle [config]="circleShape"></ko-circle>
                <ko-ellipse [config]="ellipseShape"></ko-ellipse>
                <ko-regular-polygon [config]="triangleShape"></ko-regular-polygon>

                @for (shapeConfig of shapeConfigs; track $index) {
                @if (shapeConfig['type'] === 'circle') {
                <ko-circle #circleRef [config]="shapeConfig" (dragend)="handleDragEnd($event, $index) "
                    (transformend)="handleTransformEnd($event, $index)"
                    (mousemove)="handleMouseMove($event, shapeConfig)" (mouseover)="handleMouseOver($event)"
                    (dragmove)="handleDragMove($event, $index)" (mouseup)="handeMouseUp($event)"
                    (mouseleave)="handleMouseLeave($event)" (click)="select($event , $index)">
                </ko-circle>
                }
                @else if (shapeConfig['type'] === 'rectangle' || shapeConfig['type'] === 'square') {
                <ko-rect #rectRef [config]="shapeConfig" (dragend)="handleDragEnd($event, $index)"
                    (transformend)="handleTransformEnd($event, $index)"
                    (mousemove)="handleMouseMove($event, shapeConfig)" (mouseover)="handleMouseOver($event)"
                    (dragmove)="handleDragMove($event, $index)" (mouseup)="handeMouseUp($event)"
                    (mouseleave)="handleMouseLeave($event)" (click)="select($event, $index )">
                </ko-rect>
                }
                @else if (shapeConfig['type'] === 'ellipse') {
                <ko-ellipse #ellipseRef [config]="shapeConfig" (dragend)="handleDragEnd($event, $index)"
                    (transformend)="handleTransformEnd($event, $index)"
                    (mousemove)="handleMouseMove($event, shapeConfig)" (mouseover)="handleMouseOver($event)"
                    (dragmove)="handleDragMove($event, $index)" (mouseup)="handeMouseUp($event)"
                    (mouseleave)="handleMouseLeave($event)" (click)="select($event, $index)">
                </ko-ellipse>
                }
                @else if (shapeConfig['type'] === 'line') {
                <ko-line #lineRef [config]="shapeConfig" (dragend)="handleDragEnd($event, $index)"
                    (transformend)="handleTransformEnd($event, $index)"
                    (mousemove)="handleMouseMove($event, shapeConfig)" (mouseover)="handleMouseOver($event)"
                    (dragmove)="handleDragMove($event, $index)" (mouseup)="handeMouseUp($event)"
                    (mouseleave)="handleMouseLeave($event)" (click)="select($event, $index)">
                </ko-line>
                }
                @else if (shapeConfig['type'] === 'triangle' || shapeConfig['type'] === 'pentagon' ||
                shapeConfig['type'] === 'hexagon') {
                <ko-regular-polygon #regularPolygonRef [config]="shapeConfig"
                    (dragend)="handleDragEnd($event, $index)"
                    (transformend)="handleTransformEnd($event, $index)"
                    (mousemove)="handleMouseMove($event, shapeConfig)" (mouseover)="handleMouseOver($event)"
                    (dragmove)="handleDragMove($event, $index)" (mouseup)="handeMouseUp($event)"
                    (mouseleave)="handleMouseLeave($event)" (click)="select($event, $index)">
                </ko-regular-polygon>
                }
                }
                <ko-transformer #transformer [config]="trans_all"></ko-transformer>
                <ko-transformer #transReg [config]="trans_regular"></ko-transformer>
            </ko-layer>
        </ko-stage>
    </div>
</section>
