:host {
    display: block;
    height: 100%;
    flex-grow: 1;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    width: 100%;
    height: 100%;
}